body {
    font-family: 'Courier New', Courier, monospace;
    background: #1B1000;
}

.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#mandelbrot {
    overflow: none;
    position: relative;
}

.title {
    position: fixed;
    top: 14px;
    left: 20px;
    z-index: 10;
    font-weight: 100;
    color: #e9e1e1a8;
    font-size: 18px;
}

.instructions {
    position: fixed;
    z-index: 10;
    bottom: 14px;
    left: 20px;
    font-size: 14px;
    color: #e9e1e1a8;
}

@media screen and (max-width: 768px) {
    .title {
        left: 10px;
        top: 10px;
    }
    .instructions {
        left: 10px;
        bottom: 10px;
    }
}
